<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Tasks
    </ion-title>

    <ion-buttons slot="end" class="ion-margin-end">
      <ion-spinner *ngIf="showSpinner" name="dots"></ion-spinner>
      <ion-button [routerLink]="['/tasks/notes']">
        <ion-icon [src] = "noteIcon"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/tasks/checklists']">
        <ion-icon [src] = "checklistIcon"></ion-icon>
      </ion-button>
      <ion-button fill="clear" size="large" (click)="showNotifications($event)">
        <ion-icon  [src] = "notificationsIcon"></ion-icon>
        <ion-badge color="primary">{{notificationsCount}}</ion-badge>
    </ion-button>
      <ion-button (click)="onCreateNewTaskTypeSelect($event)">
        <ion-icon slot="icon-only" [src]="addTaskIcon"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/tasks/settings']">
        <ion-icon slot="icon-only" [src]="settingsIcon"   ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content #taskList [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-segment value="all" (ionChange)="segmentChanged($event)">
          <ion-segment-button value="pending">
            <ion-label>Pending ({{(loadedTasks | taskFilter: 'pending').length}})</ion-label>
          </ion-segment-button>
          <ion-segment-button value="all">
            <ion-label>All ({{(loadedTasks | taskFilter: 'all').length}})</ion-label>
          </ion-segment-button>
          <ion-segment-button value="done">
            <ion-label>Done ({{(loadedTasks | taskFilter: 'done').length}})</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        
        <ion-list class="ion-no-margin">
            <ion-item *ngIf="(loadedTasks | taskFilter: segmentValue).length === 0 ">
              <ion-label class="ion-text-center" >No tasks to display</ion-label>
            </ion-item>

            <ion-card *ngFor="let task of loadedTasks | taskFilter: segmentValue;  let i = index">
              <ion-card-header class="ion-no-padding">
                <ion-item lines="full" *ngIf="task.expanded">
                  <ion-buttons slot="end">
                    <ion-button (click) = "onToggleDone(task)">
                      <ion-icon slot="icon-only" [src]="task.done ? this.reopenIcon : this.markAsDoneIcon"></ion-icon>
                    </ion-button>

                    <ion-button (click) = "editTask(task.id)">
                      <ion-icon slot="icon-only" [src]="editIcon"></ion-icon>
                    </ion-button>
                    
                    <ion-button (click)="deleteTask(task.id)">
                      <ion-icon slot="icon-only" [src]="deleteIcon"></ion-icon>
                    </ion-button>
                  </ion-buttons>
                </ion-item>
                <ion-item lines="none" (click)="toggleExpandItem(i)">
                  <ion-label class="ion-text-wrap">
                    <h2>{{task.name}}</h2>
                    <p> {{task | taskDetailDisplay : minutesNow}} </p>
                  </ion-label>
                  <ion-badge [color]="task.done ? 'success' : 'danger'" slot="end">{{task | taskStatusDisplay}}</ion-badge>
                  
                </ion-item>
              </ion-card-header>
              <app-expandable
                expandHeight="750px"
                collapsedHeight="0px"
                [expanded]="task.expanded"
              >
                <ion-card-content>
                  <div *ngIf="task.detail.description && task.detail.description !== ''" style="white-space: pre-wrap;">
                  Details: {{task.detail.description }}
                  </div>
                  <div *ngIf="task.remarks !== ''" style="white-space: pre-wrap;">
                    Comment: {{task.remarks}}
                    </div>
                </ion-card-content>
              </app-expandable>
            </ion-card>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer [translucent]="true">
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-button (click)="loadPreviousDay()">
        <ion-icon slot="icon-only" [src]="prevDayIcon"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      {{toolbarText}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="loadNextDay()">
        <ion-icon slot="icon-only" [src]="nextDayIcon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
