<ion-header [translucent]="true">
  <ion-toolbar color="light">
    <ion-title>
      Tasks
    </ion-title>

    <ion-buttons slot="end" class="ion-margin-end">
      <ion-spinner *ngIf="showSpinner" name="dots"></ion-spinner>
      <ion-button [routerLink]="['/tasks/checklists']">
        <ion-icon [src] = "checklistIcon"></ion-icon>
      </ion-button>
      <ion-button fill="clear" size="large" (click)="showNotifications($event)">
        <ion-icon  [src] = "notificationsIcon"></ion-icon>
        <ion-badge color="primary">{{notificationsCount}}</ion-badge>
    </ion-button>
      <ion-button (click)="onCreateNewTaskTypeSelect($event)">
        <ion-icon slot="icon-only" [src]="addTaskIcon"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/tasks/settings']">
        <ion-icon slot="icon-only" [src]="settingsIcon"   ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content #taskList [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-segment value="all" (ionChange)="segmentChanged($event)">
          <ion-segment-button value="pending">
            <ion-label>Pending ({{(loadedTasks | taskFilter: 'pending').length}})</ion-label>
          </ion-segment-button>
          <ion-segment-button value="all">
            <ion-label>All ({{(loadedTasks | taskFilter: 'all').length}})</ion-label>
          </ion-segment-button>
          <ion-segment-button value="done">
            <ion-label>Done ({{(loadedTasks | taskFilter: 'done').length}})</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        
        <ion-list class="ion-no-margin">
            <ion-item *ngIf="(loadedTasks | taskFilter: segmentValue).length === 0 ">
              <ion-label class="ion-text-center" >No tasks to display</ion-label>
            </ion-item>
            <ion-item
              *ngFor="let task of loadedTasks | taskFilter: segmentValue"
              lines="full"
              (click)="onTaskSelect(task)"
              
            >
              <ion-label class="ion-text-wrap">
                <h2>{{task.name}}</h2>
                <p> {{task | taskDetailDisplay : minutesNow}} </p>
              </ion-label>
              <ion-badge [color]="task.done ? 'success' : 'danger'" slot="end">{{task | taskStatusDisplay}}</ion-badge>
              
            </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer [translucent]="true">
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-button (click)="loadPreviousDay()">
        <ion-icon slot="icon-only" [src]="prevDayIcon"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      {{toolbarText}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="loadNextDay()">
        <ion-icon slot="icon-only" [src]="nextDayIcon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
