<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button [icon] = "backButtonIcon" defaultHref="/tasks"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{'SETTINGS.title' | translate}}
    </ion-title>
    
  </ion-toolbar>
</ion-header>
<ion-list>
  <ion-item>
    <ion-label>{{'SETTINGS.auto_import_pending_tasks_settings_label' | translate}}</ion-label>
    <ion-toggle slot="end" [(checked)] = "autoImportPendingTasks" 
    (ionChange) = "onSettingChange('autoImportPendingTasks', $event)" color="primary"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label>{{'SETTINGS.enable_dark_mode_label' | translate}}</ion-label>
    <ion-toggle slot="end" [(checked)] = "enableDarkMode" 
    (ionChange) = "onSettingChange('enableDarkMode', $event)" color="primary"></ion-toggle>
  </ion-item>
</ion-list>

<ion-content>

</ion-content>
